#!/usr/bin/env bash
#
# Defines runtime environment
#

alias dots='git --git-dir=$HOME/.dotfiles.git/ --work-tree=$HOME'
alias dots-ls='dots ls-files'
alias dots-ls-untracked='dots status -u .'

alias aud='sudo apt update'

alias aup='sudo apt upgrade'

alias studio="$APPS/android-studio/bin/studio.sh"

alias pycharm="$APPS/pycharm/bin/pycharm.sh"

alias set_brightness="sudo xrandr --output eDP-1 --brightness 0.5"
