#!/usr/bin/env bash
#
# Defines runtime environment
#

alias dots='git --git-dir=$HOME/.dotfiles.git/ --work-tree=$HOME'
alias dots-ls='dots ls-files'
alias dots-ls-untracked='dots status -u .'

alias aud='sudo apt update'

alias aup='sudo apt upgrade'

alias studio="$APPS/android-studio/bin/studio.sh"

alias pycharm="$APPS/pycharm/bin/pycharm.sh"


alias set_brightness="sudo xrandr --output eDP-1 --brightness 0.5"

alias build_server="ssh gotsvl1734.got.volvocars.net"

alias latest_host_log="cd ~/sources/aosp/icup/out/host/linux-x86/vts/android-vts/logs/latest/"

