[color]
    ui = true
[github]
    user = phiwer
[core]
    editor = emacs
#[user]
#    name = Philip Werner
#    email = phiwer@gmail.com
#    helper = cache --timeout=3600
[pager]
	branch = false
[includeIf "gitdir:~/sources/aosp/icup/**"]
    path = ~/.gitconfig-work
[includeIf "gitdir:~/.dotfiles.git/"]
    path = ~/.gitconfig-dots
