[color]
    ui = true
[github]
    user = phiwer
[core]
    editor = emacs
[pager]
	branch = false
[includeIf "gitdir:~/sources/vcc/**"]
    path = ~/.gitconfig-work
[includeIf "gitdir:~/.dotfiles.git/"]
    path = ~/.gitconfig-dots
[http]
	cookiefile = ~/.gitcookies
[credential]
	helper = store
[merge]
    tool = meld
[user]
	name = Philip Werner
	email = phiwer@gmail.com
